<?xml version="1.0" encoding="utf-8"?>
<module>
    <name>SSL Manager</name>
    <version>101</version>
    <defaultcat>Reseller</defaultcat>
    <desc>Add SSL to you domain</desc>
    <authorname>Diablo925</authorname>
    <authoremail>carsten@alio.dk</authoremail>
    <authorurl>http://Alio.dk/</authorurl>
    <updateurl></updateurl>
</module>