<?xml version="1.0" encoding="utf-8"?>
<module>
    <name>SSL Manager</name>
    <version>108</version>
    <type>user</type>
    <defaultcat>Domain Management</defaultcat>
    <desc>Manage you certificate</desc>
    <authorname>Diablo925</authorname>
    <authoremail>carsten@alio.dk</authoremail>
    <authorurl>http://Alio.dk/</authorurl>
    <updateurl></updateurl>
</module>
